<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarot Card App</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   <h1>Daily Tarot Card</h1>
    <h2>
        <%=card%>
    </h2>
   <form action="/random" method="GET">
       <button type="submit">Get Random Card</button>
   </form>

<script src="/main.js"></script>
</body>

</html>
